body {
    font-family: Lato;
    background-color: #7a7ae9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

textarea {
    width: 900px;
    height: 150px;
    resize: none;
    margin: 10px 0;
    padding: 5px;
    border: 6px solid hsl(177, 57%, 47%);
    border-radius: 9px;
    font-size: 16px;
}

.buttons {
    margin-bottom: 20px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px;
    border-radius: 12px;
    background-color: hsl(224, 88%, 10%);
    color: hwb(96 9% 13%);
    cursor: pointer;
}

button:hover {
    background-color: #b30027;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;

}
.container {
    flex: 3;
    max-width: 850px;
    margin: 0 auto;
    padding: 05px
}
.about-section {
    margin-top: 1px;
    padding: 25px;
    background-color: hwb(182 7% 10%);
    border-top: 1px solid hsla(0, 0%, 87%, 0.123);
    text-align: justify;
}